<style> td {
    border: 1px solid black;
}
.content-section {
  width:30%;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
    margin-left: 20px;
  float: left;
}
</style>
{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
{#        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">#}
          <div class="media-body">
            <div class="article-metadata">
{#              <a class="mr-2" href="#">{{ post.author.username }}</a>#}
                <h2><a class="article-title" href="{{ url_for('post', post_id= post.id) }}">{{ post.title }}</a></h2>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
{#            <h2><a class="article-title" href="{{ url_for('post', post_id= post.id) }}">{{ post.title }}</a></h2>#}
            <p class="article-content">{{ post.content }}</p>
              <p class="article-csv">{{ post.file_csv }}</p>
            <table >
          </table>
          </div>
        </article>
    {% endfor %}
{% endblock content %}