{% extends "layout.html" %}
{% block content %}


  <div id="pogoda">
      <div class="container">
          <div class="row">
            <div id="weathertype">Weather: {{ weathertype }} </div>
            <div class="col-sm-2">
                    <img src="/static/temp.png" class="weatherimg" id="tempimg">
                    <div id="temp">{{ temp }} Degrees Celcius</div>
            </div>
            <div class="col-sm-2">
                    <img src="/static/humid.png" class="weatherimg" id="humidimg">
                    <div id="humid">Humidity: {{ humid }} </div>
            </div>
            <div class="col-sm-2">
                    <img src="/static/rain.png" class="weatherimg" id="rainimg">
                    <div id="rain"> {{ rain }}</div>
            </div>
          </div>
      </div>
  </div>
{% endblock content %}